.petsArticle {
  margin: 50px 0 0 110px;
}

.petsName {
  color: rgb(77, 76, 76);
  font-size: 25px;
  margin-bottom: 20px;
}

.return {
  padding: 5px 20px;
  font-size: 24px;
  background: rgb(77, 76, 76);
  color: #fff;
  border: none;
  outline: none;
}

.return i {
  margin-right: 20px;
  font-size: 20px;
}

.returnArrow {
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 30px;
}

.float {
  float: left;
  margin-right: 30px;
}

.petInfo {
  margin-bottom: 30px;
  font-size: 20px;
  color: rgb(77, 76, 76);
}

.description {
  color: rgb(77, 76, 76);
}
